.place-order {
    display:flex;
    align-items: start;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    margin-top:70px;
  }
  
  .place-order-left{
    padding:20px 20px 10px 20px;
    width:100%;
    max-width:max(30%,500px);
  }
  .place-order-left .title{
    font-size:30px;
    font-weight: 600;
    margin-bottom:50px;
  }
  .multi-fields {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .multi-fields input {
    flex: 1;
  }

  .place-order-left input{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
  }
  .place-order-left input:focus {
    outline: none;
    border-color: #9900ff;
    box-shadow: 0px 0px 5px rgba(179, 0, 255, 0.5);
  }
  
  .place-order-right{
    padding:20px 20px 10px 20px;
    width:100%;
    max-width:max(40%,500px);
  }
  
  button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #9900ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #8c14db;
  }
  
  h2,.cart-total-details{
    color:black;
  }
  hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    margin: 10px 0;

  }
  
  @media screen and (max-width: 768px) {
    .place-order {
      flex-direction: column;
    }
  
    .multi-fields {
      flex-direction: column;
    }
  }
  