.cart {
    margin-top: 100px;
  }
  .cart-items-title {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: #0b0a0a;
    font-size:max(1.2vw,15px);
    font-weight: bold;
  }
  .cart-items-item {
    margin: 10px 0px;
    color: #0b0b0b;
  }
  
  .cart-items-item img {
    width: 50px;
  }
  
  .cart hr {
    height: 1px;
    background-color: #a1a1a1;
    border: none;
  }
  .cart-items-item .cross{
    cursor: pointer;
    color:red;
    margin-left:30%;
  }
  
  .cart-bottom {
    margin-top: 80px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: max(12vw,20px);
  }
  
  .cart-total {
    flex : 1;
    color: #555;
    display: flex;
    flex-direction: column;
    gap : 20px ;
  }
  
  .cart-total h2 {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .cart-total-details {
    display: flex;
    justify-content: space-between;
    width:95%;
    font-size: 19px;
    color : #555;
  }
  
  .cart-total-details b {
    font-size: 20px;
  }
  
  .cart-total hr {
    border: none;
    width:100%;
    border-top: 1px solid #ddd;
    margin: 0;
  }
  
  .cart-bottom button {
    width: max(15vw,200px);
    margin-bottom:20px;
    padding: 12px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #9900ff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #3e853e;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cart-promocode {
    flex:1;
    
    /* width: 45%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px; */
  }
  
  .cart-promocode p {
    font-size: 16px;
  }
  
  .cart-promocode-input {
    display: flex;
    height:50px;
    justify-content: space-between;
    margin-top:5px;
    align-items:center;
    border-radius: 4px;
    background-color: #a1a1a1;
  }
  
  .cart-promocode-input input {
    background: transparent;
    border : none;
    outline: none;
    font-size:17px;
    padding: 10px;
  }
  
  .cart-promocode-input button {
    width: max(10vw,150px);
    padding: 12px 5px;
    background-color: #0f0f0f;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 4px;
    font-size:17px;
    cursor: pointer;
  }
  
  .cart-promocode-input button:hover {
    background-color: black;
  }
  
@media(max-width:750px){
  .cart-bottom{
    flex-direction: column-reverse;
  }
  .cart-promocode{
    justify-content: start;
  }
}