.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  
  .navbar .logo {
    width: 150px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    color: #000000;
    font-size: 18px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .navbar-menu li {
    cursor: pointer;
    text-transform: capitalize;
  }
  
  .dot {
    width: 8px;
    height: 8px;
    background-color: #e1bef8;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .navbar button {
    padding: 10px 25px;
    background-color: transparent;
    color: #000000;
    border: 1px solid #9900ff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    transition:0.3s ease-in-out ;
  }
  
  .navbar button:hover {
    background-color: #f0d6fa;
  }
  .navbar .active{
    padding-bottom: 2px;
    border-bottom: 3px solid #fd2c2c;
  }
  
  .navbar-search-icon {
    position: relative;
  }
  .navbar-search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #34de2b;
    border-radius: 5px;
    top:-8px;
    right:-8px;
  }

.navbar-profile{
    position: relative;
}
.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #fbf7fff7;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid rgb(222, 90, 255);
    outline: 2px solid white;
    list-style: none;
    transition: ease-in-out 0.7s;
}
.nav-profile-dropdown li{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.nav-profile-dropdown img {
  width: 20px;
}

.nav-profile-dropdown li:hover{
  color: #8003d9;
}
.signbutton{
  background-color: #f7e7fd;
}
hr{
  color:  #000000;
  
}

  @media (max-width:1050px){
    .navbar .logo{
      width:140px;
    }
    .navbar-menu{
      gap: 20px;
      font-size: 17px;
    }
    .navbar-right{
      gap:30px;
    }
    .navbar-right img{
      width:22px;
    }
    .navbar-right button{
      padding: 8px 25px; 
    }
  }
  @media (max-width:900px){
    .navbar .logo{
      width:120px;
    }
    .navbar-menu{
      gap: 15px;
      font-size: 16px;
    }
    .navbar-right{
      gap:20px;
    }
    .navbar-right img{
      width:20px;
    }
    .navbar-right button{
      padding: 7px 20px; 
      font-size: 15px;
    }
  }
  @media (max-width:750px){
    .navbar-menu{
      display: none;
    }
  }