.footer {
    background-color: rgb(42, 158, 16);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
  }
  
  .footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
  }
  .footer-content-left, .footer-content-center,.footer-content-right {
      display: flex;
      flex-direction: column;
      align-self: start;
      gap: 20px;
    }
    .footer-content-left li,
    .footer-content-center li,
    .footer-content-right li{
      margin-bottom: 10px;
      list-style: none;
      cursor: pointer;
    }
    .footer-content-right h2,.footer-content-center h2{
        color :white;
    }
    .footer-social-icons img{
        width:40px;
        margin-right:15px;
    }
    .footer hr {
        width: 240%;
        height: 2px;
        background-color: rgb(160, 160, 160);
        border: none;
    }

    @media (max-width:750px) {
        .footer-content{
            display: flex;
            flex-direction: column;
            gap:35px;
        }
        .footer-copyrigth{
            text-align: center;
        }
        .footer hr {
            width: 100%;
        }
        .footer-content-left{
            width:90%;
        }
    }
    